Repository AUA-CS322/aua-cs322-team-b-server, pull requests merged in 2020-11, with the labels that each got.

#1 Implemented "/login" and "/users" API endpoints
  .gitignore
  .idea/aua-cs322-team-b-server.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  app.py
  home_page.py
  requirements.txt
  src/.env
  src/__init__.py
  src/api/__init__.py
  src/api/api_constants.py
  src/api/api_messages.py
  src/api/controllers/__init__.py
  src/api/controllers/account_controller.py
  src/api/controllers/home_controller.py
  src/api/controllers/users_controller.py
  src/app.py
  src/config.py
  src/data/__init__.py
  src/data/source/users.json
  src/data/user_repository.py
  src/utils/__init__.py
  src/utils/logger/__init__.py
  src/utils/logger/logger.py
  test/__init__.py
Labels: api, jwt, login

#2 Enabling CORS policy for the API endpoints, some minor bugfixes
  requirements.txt
  src/api/controllers/account_controller.py
  src/api/controllers/users_controller.py
  src/api/managers/__init__.py
  src/api/managers/account_manager.py
  src/data/source/users.json
  src/data/user_repository.py
Labels: api, bug, cors, login

#3 added WSGI server and CL argument for port
  requirements.txt
  src/app.py
  utils/__pycache__/__init__.cpython-37.pyc
  utils/logger/__pycache__/__init__.cpython-37.pyc
  utils/logger/__pycache__/logger.cpython-37.pyc
Labels: api, enhancement

#4 fixed some styling issues
  src/api/api_constants.py
  src/api/api_messages.py
  src/api/controllers/account_controller.py
  src/utils/logger/logger.py
Labels: code style

#5 Swagger
  .gitignore
  requirements.txt
  src/api/controllers/account_controller.py
  src/api/controllers/api_descriptions.py
  src/api/controllers/home_controller.py
  src/api/controllers/users_controller.py
  src/app.py
  src/data/source/users.json
Labels: api, documentation, enhancement
