Repository AUA-CS322/aua-cs322-team-b-server, pull requests merged in 2020-12, with the labels that each got.

#17 Fixed the issue for 'api/users' endpoint when no id is given
  src/api/api_constants.py
  src/api/controllers/users_controller.py
Labels: api, bug, get user info

#18 Tests
  .vscode/settings.json
  src/api/controllers/account_controller.py
  src/api/controllers/users_chart_controller.py
  src/data/organization_chart.py
  test/test_login.py
  test/test_orgchart.py
  test/test_search.py
  test/test_users.py
Labels: bug, code style, test

#19 fix poping errors
  src/data/user_repository.py
Labels: bug

#20 fix jwt header for user email
  src/api/controllers/account_controller.py
  src/api/controllers/users_controller.py
  test/test_login.py
Labels: bug
